[submodule "Vapor-Homepage-Server"]
	path = Vapor-Homepage-Server
	url = https://github.com/GHF-Studios/Vapor-Homepage-Server.git
[submodule "Vapor-Docs-Server"]
	path = Vapor-Docs-Server
	url = https://github.com/GHF-Studios/Vapor-Docs-Server.git
[submodule "Vapor-Identity-Server"]
	path = Vapor-Identity-Server
	url = https://github.com/GHF-Studios/Vapor-Identity-Server.git
[submodule "Vapor-Diagnostics-Server"]
	path = Vapor-Diagnostics-Server
	url = https://github.com/GHF-Studios/Vapor-Diagnostics-Server.git
